       *{
    box-sizing: border-box;

        }

       

        body{
            background-image: url(C:\Users\pc\Documents\code\recursos\oh-the-misery-wawa.gif);
            background-repeat: no-repeat;
            background-position: right top;
            background-color:brown ;
        }
        
        p, span{
            color:grey;
            height: auto;
            border: 1px;
            border-top-style: dotted;
            border-right-style: solid;
            border-bottom-style: dotted;
            border-left-style: solid;
            padding:5px;
            margin:35px;
              
        }

            /*
            Esto es un comentario en CSS
            */
        h1{
            font-family: 'Roboto', sans-serif;
            width:500px;
            height:50px;
            border: 1px solid black;
            padding: 10px;
            margin-top:15px;
            margin-right: 300px;
            margin-bottom:30px;
            margin-left: 300px;
            background-color:blue;
            /* Estilos de texto */
            color:white;
            text-align: center; 
            font-weight: bold;
        }

        section{
                width: 60%;
                border: 15px solid green;
                padding:50px;
                margin:50px;
                float:left;
                

        }

        #parrafo1{
                  color:yellow;
                  font-size: large;
                  margin:23px;
                  width: 25%;
                  float: left;

                  
                
        }

        .clase1{
                color: aquamarine;
                font-weight:bold;
                font-size: 23px;
                padding:20px;
                margin:20px;
                background-color: black;
                width: 45%;
                float: left;
                
        }

        /* todos los h2 dentro de section*/
        section h2{
                   font-family: 'Roboto', sans-serif;
                   font-weight: 400px;
                   font-weight: bold;
        }
 
       